/* .content-container {
    position: fixed;
    background-color: 'red';
    top: 0;
    width: 100%;
    border-radius: 0 0 10px 10px;
  } */
  .header__bar {
    padding: 0 20px;
  }

  .header__title {
    color: black;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 24px;
  }
  .header__title:hover {
    color: #004b23;
  }
  .header__title:focus {
    color: #009444;
  }
  .header__title-is-active {
    color: #009444;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 24px;
  }
  
  .header__nav {
    color: black;
    font-family: "Inter";
    font-size: 18px;
    padding: 10px 0px;
    float:left;
    text-decoration: none;
    border-radius: 50px;
  }
  .header__nav:hover {
    filter: drop-shadow(10px 6px 30px rgba(0, 0, 0, 1));
  }
  /* .header__nav:focus {
    background: white;
    filter: drop-shadow(0px 6px 30px rgba(0, 0, 0, 0.1));
  } */
  .header__nav-is-active {
    color: black;
    font-family: "Inter";
    font-size: 18px;
    padding: 10px 20px;
    float:left;
    text-decoration: none;
    border-radius: 50px;
    background: white;
    filter: drop-shadow(1px 1px 20px rgba(0, 0, 0, 0.2));
  }

.button-18 {
  align-items: center;
  background-color: #FBB040;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: "Inter";
  font-size: 18px;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus { 
  background-color: #FBB040;
  color: #ffffff;
}

.button-18:active {
  background: #ebc284;
  color: rgba(255, 255, 255, 0.7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}